.slidermenu{
    height: 300px;
    width: 600px;
    position: relative;
}
.navslide{
    position: absolute;
}
.listeslide{
    height:100% ;
    width: 100%;
}
.slider{
    border: 1px red solid;
}