body{
    background-color: blanchedalmond;
    background-image: url(/frontend/img/panoramaSpace.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: column;
}
#test{
    background-image: url(../img_memo/terre.webp);
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#score{
    color: blanchedalmond;
}
#combo{
    color: blanchedalmond;
    padding-left: 1rem;
}
#memory{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem;
    text-align: center;
    gap: 2rem;
    margin: auto;
}

.carte{
    display: block;
    background-color: #133aeb8f;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff8f;
    border: 3px solid cyan;
    box-shadow: 0px 0px 15px cyan inset;
}
 .carte:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
     }

.carte.visible{
    background-color: #3573a38f;
    border: 3px solid red;
 
}
.carte.trouvee{
    background-color: #caf685c2;
    border: 3px solid greenyellow;
  
}
h1{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #72c5e1;
}
.style{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    border: 1px rgb(0, 0, 0) solid;
    background-color: #caf685c2;
    color: blanchedalmond;
    padding-bottom: 1rem;
}
#rejouer{
    display: block;
    color: cyan;
    background-color: rgb(39, 84, 198);
    text-decoration: none;
    border-radius: 1rem;
}
#rejouer:hover{
    background: cyan;
    box-shadow: 
    0 0 20px #239BFF,
    0 0 80px #239BFF,
    0 0 160px #239BFF,
    0 0 320px #239BFF;
    color: #255784;
}
.none{
    display: none;
}
.img{
    z-index: 7;
    object-fit: cover;
    background-repeat: no-repeat;
    max-width: 75%;
}
#compte {
display: block;
color: cyan;
background-color: rgb(39, 84, 198);
padding: 1rem 1.9rem;
letter-spacing: 1rem;
text-decoration: none;
border-radius: 1rem;
}
#compte:hover {
background: cyan;
box-shadow: 
0 0 20px #239BFF,
0 0 80px #239BFF,
0 0 160px #239BFF,
0 0 320px #239BFF;
color: #255784;
}
#compte:active {
	position:relative;
	top:1px;
}
.mars{
    width: 50%;
}
.uranus{
    width: 47%;
}
.mercure{
    width: 50%;
}
.neptune{
    width: 50%;
}
.saturne{
    width: 50%;
}
.terre{
    width: 50%;
}
.venus{
    width: 50%;
}
.jupiter{
    width: 50%;
}
.none{
    display: none;
}