#memory{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 4fr;
    padding: 4rem;
    text-align: center;
    row-gap: 5rem;
}

.carte{
    display: block;
    background-color: black;
    z-index: 2;
    cursor: pointer;
    border: 2px solid gray;
}

.carte.visible{
    background-color: aliceblue;
    border: 2px solid gray;
}
.carte.trouvee{
    background-color: greenyellow;
}
h1{
   display: flex;
   align-items: center;
   justify-content: center;
}
.style{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.none{
    display: none;
}