*{
    text-align: center;
}

body {
    background-color: #7B8CDE;
}

.container {
    background-color: white;
    border-radius: 1.5rem;
    width: 50%;
    margin: 5rem auto;
    padding: 2rem;
}

.champ{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.champ input{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid #7B8CDE;
}

/*btn*/

#inscrire, #connecter{
    background-color: #7B8CDE;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}


#inscrire:hover, #connecter:hover{
    background-color: #5A6FAE;
}
